h1 {
  padding: 10px;
}

h2 {
  text-align: center;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font: "Open Sans";
}

.MainMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.GamePage {
  border: 3px solid black;
  display: flex;
  align-items: center;
}

.GameOptionsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.page {
  width: 750px;
  height: 750px;
  border-radius: 10%;
  background-color: lightgray;
  overflow: hidden;
}

.btn-icon {
  margin-right: 10px;
}

.main-menu-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-menu {
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  flex-direction: column;
  border-left: 3px solid black;
  background-color: black;
}

.game-option {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 400px;
}

.game-option-label {
  padding-right: 10px;
}

.menu-button, .game-menu-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu-button {
  width: 250px;
}

.puzzle-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 10px;
}

.start-game-button {
  display: flex;
  justify-content: center;
}

.selection {
  width: 120px;
}

.horizontal-buttons {
  display: flex;
  justify-content: space-between;
}

.white-and-underlined {
  color: white;
  text-decoration: underline;
}

.white {
  color: white;
}

#puzzle-selection {
  display: flex;
  overflow: scroll;
  width: 600px;
  visibility: hidden;
}